 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Calibri;
}

.nav{
	width: 100%;
	height: 50px;
	background: black;
	opacity: 0.9;
	color: white;
	font-size: 1em;
	display: flex;
	flex-direction: row;
	position: fixed;
}

.navbar-items{
	width: 100%;
	text-align: center;
	padding-top: 1em;

}

.nav-item{
	padding-right: 20px;
	color: white;
	text-decoration: none;
}

.cover-img{
	width: 100%;
	height: 800px;
	object-fit: cover;
}

h1{
  	text-align: center;
  	padding-top: 1em;
  	font-weight: normal;

}

.intro{
	margin: 2em;

}

h2{
	margin-left: 1.5em;
	font-weight: normal;
}

.menu-items{
	width: 95%;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto;
	grid-column-gap: 2em;
}

.item-title{
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 2em;

}

.item-text{
  text-align: center;
  padding: 10px 20px;
}

.item-img{
	width: 100%;
}
.comment{
	text-align: center;
}
.comments{
	text-align: left;
	margin-left: 33em;
	padding: 3px;
}

.footer{
	width: 100%;
	margin: 1em;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: black;
	color: white;
}
.title{
	color:white;
	text-align: center;
	padding-bottom: 0.5em;
}
.text{
	padding: 0.5em;
	margin-top: 0.5em;
	width: 300px;
}
input{
	width: 80px;
	height: 40px;
}
textarea{
	padding: 0.5em;
	margin-top: 0.5em;
	width: 350px;
	height: 80px;
}
.top{
	float: right;
}
